{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid" style="background-color: rgb(56, 56, 56); color:rgb(43, 44, 46)">
    <div class="row pl-2 pr-2 ml-1 mr-1">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img class="rounded-circle account-profile " src="{{ user.profile.image.url }}" alt="user" height="200px"
                width="200px">
            <div class="media-container">
                <h2 class="account-header">Name: {{user.username}}</h2>
                <p class="text-info">Email: {{user.email}}</p>
            </div>
            <p class="ml-3">Bio: {{user.profile.bio}}</p>
            <a class="btn btn-info" href="{% url 'updateprofile' %}">Update Profile</a>

        </div>
    </div>
    {% endblock %}