
{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
<style>
    .form-text {
        display: none !important;
    }
</style>
<section class="login-container">
    <div class="container-header">
        <h3 class="container-title">Login To Access Your Account</h3>
    </div>
    <div class="container login-container " style="margin-bottom: 30px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="login-card mt-5">
                    <div class="card-header">
                        <h3>Register</h3>
                    </div>
                    <div class="card-body">
                        <div class="login-container">
                            <form action="/accounts/register/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <div class="form-group">
                                    <input type="submit" class="btn btn-sm" value="Create Account">
                                </div>
                                <input type="hidden" name="next" value="{{next}}">
                            </form>
                        </div>
                        <p>
                            Don't have an account? <a href="/accounts/login" class="">Register</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>


{% endblock %}