{% load bootstrap3 %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">

    <title>Awwards</title>
</headbwilninjn;>

<body>
    <section>

        <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container-fluid px-0 d nav-border text-white-50">
                <div id="menu-toogle" class="d-flex align-items-center w-25 pl-4">
                    <h6 class="mb-0 pr-4 f-10"><b>MENU</b></h6>
                </div>
                <a class="navbar-brand" href="#"><b>Welcome to my awwards website</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home'%}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Account
                            </a>
                            <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    </ul>
                    <div>

                        <a class="navbar-brand" href="{% url 'newproject' %}">Post Project</a>

                    </div>

                    {% else %}
                    <div>
                        <li class="navbar-item" style="list-style: none;">
                            <a class="nav-link text-black" href="{% url 'login' %}">
                                <h4>Login</h4>
                            </a>
                        </li>
                    </div>
                    <div>
                        <li class="navbar-item" style="list-style: none;">
                            <a class="nav-link text-black" href="{% url 'register' %}">
                                <h4>Register</h4>
                            </a>

                        </li>
                    </div>
                    {% endif %}
                    </ul>
                    <div class="navbar-nav">
                        <div class="text-center">
                            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_projects' %}">
                                <input style="text-align: center;" class="form-control" name="username" type="search"
                                    placeholder="Search for your project here... " aria-label="Search">
                            </form>
                        </div>
                    </div>
                </div>
        </nav>