{% extends "base.html" %}
{% block content %}
<style>
    .card {
        background: #fff none repeat scroll 0 0;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 1px;
        box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
        margin-bottom: 1px;
        padding: 1px 1px;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
    }

    .card:hover {
        box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
        background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
    }

    .profile .card-img-top {
        border-radius: 50% !important;
    }
</style>
<section class="profile container">
    <div class=" mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">

                    {% if profile.profile_photo %}
                    <img src="{{profile.profile_photo.url}}" alt="" class="card-img-top">
                    {%else%}
                    <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
                        class="card-img-top" alt="My profile picture">
                    {% endif %}
                    <div class="card-body text-center">
                        <h4 class="card-text">
                            {{ user.first_name }} {{ user.last_name }}
                        </h4>
                        <p>{{ user.username }}</p>
                        <p>
                           
                        {% if profile.contact %}
                        <small>{{ profile.contact }}</small>
                        {% else %}
                        <span class="badge rounded-pill bg-info text-white">No contact</span>
                        {% endif %}
                        </p>
                        <p>
                            {% if profile.bio %}
                            <small>{{ profile.bio }}</small>
                            {% else %}
                            <span class="text-danger">No about me</span>
                            {% endif %}
                        </p>
                        <h6>Joined on: <span class="badge rounded-pill bg-secondary text-white">
                                {{ user.date_joined|date }} </span></h6>

                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        <div class="card p-2">
                            <button type="button" class="btn btn-lg m-3" data-bs-toggle="modal"
                                data-bs-target="#profileModal">
                                <i class="fa fa-plus text-white"></i> Update Profile
                            </button>
                            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog"
                                aria-labelledby="profileModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="profileModalLabel">Update Profile</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'update_profile' %}" method="POST"
                                                enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="name">First Name</label>
                                                            <input type="text" class="form-control" id="first_name"
                                                                name="first_name" value="{{ user.first_name }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="name">Last Name</label>
                                                            <input type="text" class="form-control" id="last_name"
                                                                name="last_name" value="{{ user.last_name }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="username">Username</label>
                                                            <input type="text" class="form-control" id="username"
                                                                name="username" value="{{ user.username }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="contact">Contact</label>
                                                            <input type="text" class="form-control" id="contact"
                                                                name="contact" value="{{ profile.contact }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" id="email" name="email"
                                                        value="{{ user.email}}">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="bio">Bio</label>
                                                    <textarea name="bio" id="bio" cols="30" rows="10"
                                                        class="form-control">{{ profile.bio }}</textarea>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="profile_pic">Profile Picture</label>
                                                    <input type="file" class="form-control" id="profile_pic"
                                                        name="profile_pic" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn">Update Account</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{ success }}
                    </div>
                    {% elif danger %}
                    <div class="alert alert-danger" role="alert">
                        {{ danger }}
                    </div>
                    {% endif %}
                    <!-- button to open add picture modal -->
                    <div class="col-md-12">
                        <button type="button" class="btn btn-lg m-3" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa fa-plus text-white"></i> Add Project
                        </button>
                        <!-- modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'save_project' %}" method="post"
                                            enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control" value="" name="title" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="title">Location</label>
                                                <input type="text" class="form-control" value="" name="location" required>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="url">URL Link</label>
                                                <input type="url" class="form-control" value="" name="url" required>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="exampleFormControlFile1">Photo</label>
                                                <input type="file" class="form-control" id="exampleFormControlFile1"
                                                    name="image" required>
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="exampleFormControlTextarea1">Description</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                                    name="description" required></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card m-3">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Photo</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">View</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for image in images %}
                                <tr>
                                    <th scope="row">
                                        <img src="{{ image.image.url }}" class="border-radius-around" alt="Image">
                                    </th>
                                    <td>{{ image.title }}</td>
                                    <td><a href="{{ image.url }}" target="_blank" class="text-primary" rel="noopener noreferrer">View
                                            Site</a></td>
                                    <td>
                                        <!-- view button -->
                                        <a class="text-primary m-3" href="">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <!-- <a class="text-primary m-3" href="">
                                            <i class="fa fa-pen"></i>
                                        </a> -->
                                        <a class="text-danger" href="{% url 'delete_project' image.id %}">
                                            <i class="fa fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center text-danger">No Projects!</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <!-- <div class="col-md-12 mt-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="card-title">Comments</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div> -->
    </div>
    </div>
</section>
{% endblock %}